@import 'tailwindcss';

/* light mode */
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  /* ALTEN GELÖSCHT UND DIESE NEU REIN GEMACHT */
  --font-sans: var(--font-inter);
}

/* dark mode */
.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
}

/* navigation aktiv zeigen */
.nav-item {
  color: rgba(0, 166, 62, 0.4);
}

.nav-item.active {
  color: rgba(0, 166, 62, 1);
}

body {
  background: var(--background);
  color: var(--foreground);
  /* HIER FONTFAMILY VERÄNDERT */
  font-family: var(--font-sans), system-ui, sans-serif;
}

/* BEI SEARCH DIE HORIZONTALE SCROLLBAR NICHT ZEIGEN */
/* FIREFOX & EDGE */
.no-scrollbar {
  scrollbar-width: none; 
  -ms-overflow-style: none;
}

/* CHROME SAFARI */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}